<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="homeContent">
    <div class="headerL">
        <ul class="header-leftL">
            <li class="header-left-country">阿拉德</li>
            <li class="header-left-loginPerson"><i class="fa fa-user"></i><span>艾薇丶莉琦</span></li>
            <li class="header-left-messages">消息1</li>
        </ul>
        <ul class="header-right"></ul>
    </div>
    <div class="nav">
        <p class="nav-h2">职业大全</p>
        <ul>
            <li>SS制作</li>
            <li>装备百科</li>
            <li>附魔大全</li>
        </ul>
        <ul>
            <li>丨</li>
            <li>如何攻打安图恩</li>
            <li>卢克的秘密</li>
            <li>更多>></li>
        </ul>
        <ul class="clearfix">
            <li>丨</li>
            <li>辅助的崛起</li>
            <li>BUG宗的一生</li>
            <li ><a ui-sref="fs">搬砖王子风神</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="background-image-left">
            <img src="images/jh.jpg" alt="" width="364" height="200">
        </div>
        <div class="content-left">
            <ul>
                <li>
                    <a href="#">剑魂/</a>
                    <a href="#">狂战士/</a>
                    <a href="#">鬼泣/</a>
                    <a href="#">阿修罗</a>
                </li>
                <li>
                    <a href="#">驭剑士/</a>
                    <a href="#">契魔者/</a>
                    <a href="#">流浪武士/</a>
                    <a href="#">暗殿骑士</a>
                </li>
                <li>
                    <a href="#">暗枪士/</a>
                    <a href="#">狩猎者/</a>
                    <a href="#">决战者/</a>
                    <a href="#">征战者</a>
                </li>
                <li>
                    <a href="#">女圣骑士/</a>
                    <a href="#">异端审判者/</a>
                    <a href="#">巫女/</a>
                    <a href="#">诱魔者</a>
                </li>
                <li>
                    <a href="#">蓝拳圣使/</a>
                    <a href="#">驱魔师/</a>
                    <a href="#">圣骑士/</a>
                    <a href="#">复仇者</a>
                </li>
                <li>
                    <a href="#">冰结师/</a>
                    <a href="#">元素爆破/</a>
                    <a href="#">血法师/</a>
                    <a href="#">逐风者/</a>
                    <a href="#">次元行者</a>
                </li>
                <li>
                    <a href="#">魔道学者/</a>
                    <a href="#">元素师/</a>
                    <a href="#">战斗法师/</a>
                    <a href="#">召唤师</a>
                </li>
                <li>
                    <a href="#">男街霸/</a>
                    <a href="#">男气功师/</a>
                    <a href="#">男柔道家/</a>
                    <a href="#">男散打</a>
                </li>
                <li>
                    <a href="#">街霸/</a>
                    <a href="#">气功师/</a>
                    <a href="#">柔道家/</a>
                    <a href="#">散打</a>
                </li>
                <li>
                    <a href="#">弹药专家/</a>
                    <a href="#">机械师/</a>
                    <a href="#">漫游枪手/</a>
                    <a href="#">枪炮师</a>
                </li>
                <li>
                    <a href="#">女弹药专家/</a>
                    <a href="#">女机械师/</a>
                    <a href="#">女漫游枪手/</a>
                    <a href="#">女枪炮</a>
                </li>
                <li>
                    <a href="#">刺客/</a>
                    <a href="#">死灵术士/</a>
                    <a href="#">忍者/</a>
                    <a href="#">影舞者</a>
                </li>
                <li>
                    <a href="#">精灵骑士/</a>
                    <a href="#">混沌魔灵/</a>
                    <a href="#">帕拉丁/</a>
                    <a href="#">龙骑士</a>
                </li>
                <li>
                    <a href="#">缔造者/</a>
                    <a href="#">黑暗武士</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="images/timg (1).jpg" title="1" height="448" width="930"/></div>
            <div class="swiper-slide"><img src="images/timg (2).jpg" title="2" height="448" width="930"/></div>
            <div class="swiper-slide"><img src="images/timg (3).jpg" title="3" height="448" width="930"
                                           onclick="Img(this)"/></div>
            <div class="swiper-slide"><img src="images/timg (4).jpg" title="4" height="448" width="930"/></div>
            <div class="swiper-slide"><img src="images/timg.jpg" title="5" height="448" width="930"/></div>
            <div class="swiper-slide"><img src="images/fs.jpg" title="6" height="448" width="930"/></div>
        </div>
        <!-- 如果需要滚动条 -->
        <!--<div class="swiper-scrollbar"></div>-->
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

</body>
</html>