<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="txGame"></div>
<div class="loginBg">

</div>

<div class="foot">
    <div class="footMain">
        <a href="" class="footBg"></a>
        <ul class="footUl">
            <li>腾讯互动娱乐丨服务条款丨广告服务丨腾讯游戏招聘丨腾讯游戏客服丨游戏地图丨商务合作丨腾讯网丨网站导航</li>
            <li>腾讯公司版权所有</li>
            <li>COPYRIGHT © 1998 - 2018 TENCENT. ALL RIGHTS RESERVED.</li>
            <li>COPYRIGHT © NEOPLE.INC., ALL RIGHTS RESERVED.</li>
            <li>抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</li>
            <li>本网络游戏适合13+岁的用户使用；为了您的健康，请合理控制游戏时间。</li>
            <li>粤网文：[2017]6138-1456号|新出网证：（粤）字010号</li>
            <li>全国文化市场统一举报电话：12318|文网进字[2014]034号|ISBN 978-7-89988-060-9|新广出审[2014]952号</li>
        </ul>
    </div>
</div>
</body>
</html>